body {
    background: #eaeaea;
}

#text {
    font-size: 42px;
    position: absolute;
    display: block;
    
    top: -10px;
    left: 900px;
}

#logo {
    width: 150px;
    height: 150px;
    
    position: absolute;
    display: block;
    top: 100px;
    left: 900px;
}

.btn {
    padding: 1rem 1.5rem;
    color: #fff;
    background: #8C959D;
    border-radius: 3px;
    
    position: absolute;
    display: block;
    font-size: 72px;
    top: 500px;
    left: 680px;
}